
<div class="container">

  <section class="section-end">
    <p-toast />
    <section class=" margin-bottom margin-top-2em size-small" >
            <form [formGroup]="form">
              <div class="margin-bottom-10px ">
                <p-checkbox  formControlName="numbers" inputId="numbers"  [binary]="true" [(ngModel)]="generatePasswordForm.numbers" />
                <label for="numbers" class="ml-2"> Números </label>
              </div>
              <div class="margin-bottom-10px">
                <p-checkbox formControlName="specialCharacter" [binary]="true" inputId="specialCharacter" [(ngModel)]="generatePasswordForm.specialCharacter" />
                <label for="specialCharacter" class="ml-2"> Caracter especial </label>
              </div>
              <div class="margin-bottom-10px">
                <p-checkbox  formControlName="isUpper" [binary]="true" inputId="isUpper" [(ngModel)]="generatePasswordForm.isUpper" />
                <label for="isUpper" class="ml-2"> Letras maiúsculas </label>
              </div>
              <div class="margin-bottom-10px">
                <p-checkbox formControlName="isLower" [binary]="true" inputId="isLower" [(ngModel)]="generatePasswordForm.isLower" />
                <label for="isLower" class="ml-2"> Letras minúsculas  </label>
              </div>

              <div class=" margin-top-2em">
                <p-floatlabel>
                  <p-inputnumber formControlName="sizePassword"  id="size" [(ngModel)]="generatePasswordForm.size" [showButtons]="true" inputId="minmax-buttons"  [max]="100" />
                  <label for="size">Tamanho da senha</label>
                </p-floatlabel>
              </div>
            </form>

            <div class="margin-top-1em justify-center">
              <p-button *ngIf="!creating" (onClick)="generatePassword()" label="Gerar nova senha"  [raised]="true" severity="info" size="large"/>
              <i *ngIf="creating" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            </div>
          </section>

  </section>

  <section class="width-70 height-70">
      <app-list
      class=""
      (open)="getAll()"
      [items]="items"
      (pageEventEmiter)="handlePageEvent($event)"
      (searching)="search($event)"
      [loading]="loading"
      [first]="first"
      [isDelete]="deleting"
      (deleteItem)="deletePassword($event)"
      [totalRecords]="totalRecords"
      >
    </app-list>
  </section>
</div>


<router-outlet></router-outlet>
